

body {
    padding-bottom: 20px;
    color: white;
    background: #36BFC4;
    font-family: 'Literata', serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 500px;
}*/

input {
    max-width: 300px;
}

*/
/* User styles*/
.redirect {
    color: white;
}

.form-inputs{
    width:550px;
}

.form-group input[type=submit] {
    /*float: right;*/
    background-color: bisque;
    position:relative;
    left:180px;
}

/*Summary page styles*/
.loan-summary {
    display: inline-block;
    position: relative;
    /*top: -90px;*/
    font-size: 18px;
    width:400px;
}

#chartContainer {
    top: -200px;
    display: inline-block;
    width:400px;
    height:300px;
}
