
@{
    ViewBag.Title = "Approved";
}

<h2>Congratulations @ViewBag.FirstName @ViewBag.Lastname</h2>
<hr />
<p style="font-size:20px;">
    Your loan of <span style="font-size:30px">£ @ViewBag.LoanAmount</span> has now been approved
</p>

