
@{
    ViewBag.Title = "Approved";
}

<p style="font-size:20px;">
    Congratulations <span style="font-size:30px">@ViewBag.FirstName  @ViewBag.LastName</span>, your loan of <span style="font-size:30px">£@ViewBag.LoanAmount</span> has been approved
</p>

